<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>helo ejs</h1>
    <img class="ig" src="/image/pexels-photo-6312999.jpeg" alt="aa">
    <!-- đi từ image vì app.use(express.static(path.join(__dirname,'public'))); trỏ vào public luôn -->
</body>
</html>